body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form, .table {
  width: 100%;
  max-width: 600px;
}

.form, .table table {
  border-collapse: collapse;
}

.form h2, .table h2 {
  margin-top: 0;
}

.form label, .table th, .table td {
  padding: 5px;
}

.form input, .form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: white;
  background-color: darkred;
  text-align: center;
  font-size: 19px;
  font-style: italic;
  margin-bottom: 15px;
}

/*Center the table */
.table {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 50px; /* Add some top margin to create space between the form and table */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.table th, .table td {
  border: 1px solid #ddd;
  
}

.table th {
  background-color: #a2d7e4;
}

.table td {
  text-align: center;
}

.table img {
  max-width: 100px;
}

.actions button {
  padding: 4px 8px;
  margin-right: 5px;
  cursor: pointer;
}

.actions button.edit {
  background-color: #28a745;
  color: white;
}

.actions button.delete {
  background-color: #dc3545;
  color: white;
}

.actions button.view {
  background-color: #007bff;
  color: white;
}

.user {
  color: white;
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}
